*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1{
  background: Pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
display: flex;
justify-content: space-around;
}

#income{
  background-color: lightblue;
  border: 5px solid black;
  display: flex;
}

#expense{
  background-color: yellow;
  border: 5px solid black;
  display: flex;
}